
.navbar {

    color: white;
    background-color: #6C7A96 !important;
    position: fixed !important; /* Set the navbar to fixed position */
    top: 0 !important; /* Position the navbar at the top of the page */
    width: 100% !important; /* Full width */
    height: 40px !important;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.main {
  margin-top: 50px; /* Add a top margin to avoid content overlay */
}


.block-container.css-18c15ts.eknhn3m2{

    padding-top: 0px !important;

}

.stButton>button {
    color: #6C7A96;
    border-color: #6C7A96 !important;

}


.stButton>button:hover {
    background-color: #6C7A96;
    border-color: #6C7A96 !important;
    color: white !important;
    box-shadow: none !important;
    outline: none;
    position:relative;

}

.stButton>button:focus {
    background-color: #6C7A96;
    border-color: #6C7A96 !important;
    color: white !important;
    box-shadow: none !important;
    outline: none;
    position:relative;

}

.stButton>button:active {
    background-color: #6C7A96;
    border-color: #6C7A96 !important;
    color: white !important;
    box-shadow: none !important;
    outline: none;
    position:relative;

}


.stButton>button>a {
    color: #6C7A96;
    border-color: #6C7A96 !important;
    text-decoration: none !important;
}

.stButton>button>a:hover {
    background-color: #6C7A96;
    border-color: #6C7A96 !important;
    color: white !important;
    box-shadow: none !important;
    outline: none;
    position:relative;

}


div[data-testid="stMarkdownContainer"]>h3 {
    color: #6C7A96 !important;
    font-weight: bold;

}

div[data-testid="stMarkdownContainer"]{
    margin-bottom: 0px !important;
}



.step {
    color: #6C7A96 !important;
    font-weight: bold;
}




.streamlit-expanderHeader {
    color: #6C7A96 !important;
    font-weight: bold;
    font-size: 16px;
}


div[data-testid="stHorizontalBlock"]>div:nth-child(1)>div:nth-child(1)>div>div>ul>li>div:nth-child(2) {
    padding-top: 14px !important;
    padding-bottom: 6px !important;
}


div[data-testid="stHorizontalBlock"]>div:nth-child(1)>div:nth-child(1)>div>div>ul>li>div:nth-child(2)>div:nth-child(1)>div {
    margin-bottom: 3px !important;
}

div[data-baseweb="slider"] {
    padding: 0 !important;
}


section[data-testid="stFileUploadDropzone"]>div{
    margin-right: 50px !important;

}

section[data-testid="stFileUploadDropzone"]>button{
    color: #6C7A96;
    border-color: #6C7A96 !important;

}


section[data-testid="stFileUploadDropzone"]>button:hover{
    background-color: #6C7A96;
    border-color: #6C7A96 !important;
    color: white !important;
    box-shadow: none !important;
    outline: none;
}


section[data-testid="stFileUploadDropzone"]>button:active{
    background-color: #6C7A96;
    border-color: #6C7A96 !important;
    color: white !important;
    box-shadow: none !important;
    outline: none;
}


section[data-testid="stFileUploadDropzone"]>button:focus {
    background-color: #6C7A96;
    border-color: #6C7A96 !important;
    color: white !important;
    box-shadow: none !important;
    outline: none;
    position:relative;

}

.stSlider {
    margin-top: -2.5px !important;
    padding-top: -4px !important;
}

div[data-testid="stTickBar"] {
    padding : 0px !important;
}




div[role="slider"] {
    background-color: #6C7A96 !important;
    fill: black;
}

div[role="slider"]::-webkit-slider-runnable-track {
    background-color: #6C7A96 !important;

}


tbody>tr{
    height: 30px;
}

th {
    background-color: #6C7A96 !important;
    color: white !important;
    border:white 0.4px solid !important;
    text-align: center;

}

td {
    border:white 0.4px solid !important;
    text-align: center;
    color: #6C7A96 !important;
    background-color: #F0F2F6 !important;
    font-family: Arial;
}


.TopRightGrid_ScrollWrapper>div>div>div {
    background-color: #6C7A96 !important;
    color: white !important;
    border:white 0.4px solid !important;
    text-align: center;


}

.BottomLeftGrid_ScrollWrapper>div>div>div {
    background-color: #6C7A96 !important;
    color: white !important;
}





.ReactVirtualized__Grid>div>div {
    border:white 0.4px solid !important;
    text-align: center;
    color: #6C7A96 !important;
    background-color: #F0F2F6 !important;

}

div[data-testid="stFileUploader"]{
    height: 53px !important;
}

div[data-testid="stFileUploader"]>section{
    padding: 0px !important;
    margin: 0px !important;
}

.stNumberInput {

    height: 53px !important;

}
.stNumberInput>div.css-1nnn0hm {
    border:#6C7A96 1px solid !important;
    border-radius: 5px;
}

.stNumberInput>div>div {
    height: 30px !important;
}


.css-fjj0yo.e1jwn65y1 {
    display: none !important;
}



.stMarkdown>div>p {
    margin-bottom: 0px !important;
}

label.css-145kmo2.effi0qh0 {
    margin-bottom: 0px !important;
}

.stSelectbox {
    height: 53px !important;

}

.stSelectbox>div {
    height: 32px !important;
    border:#6C7A96 1px solid !important;
    border-radius: 5px;

}

.stSelectbox>div>div>div {
    height: 25px !important;
    font-size: 16px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}



.stCheckbox {
    height: 53px !important;

}

.stCheckbox>label {
  position: absolute;
  top: 50%;

}


span[role="checkbox"][aria-checked="true"] {
    background-color: #6C7A96; !important;
}